body {
  background-color: black;
  color: white;
}

.filters {
  background: #6866666e;
  border: 2px solid #6866666e;
  border-radius: 15px;
}
.filters li {
  display: inline-block;
  max-width: 80px;
  padding: 10px;
}
.filters li label {
  display: block;
  font-size: 16px;
  font-weight: 900;
}
.filters li input {
  width: 50px;
  text-decoration: none;
  border: none;
  border-radius: 15px;

  border-radius: 2px grey;
}
.filters li select {
  width: 100%;
  border: none;
  border-radius: 15px;
}
.widget {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.4s ease;
}
.widget:hover {
  box-shadow: 0 0 25px #d5782c, 0 0 15px #d5782c inset;
}

.widget .cover {
  height: 160px;
  overflow: hidden;
}
.widget .cover img {
  width: 100%;
  height: auto;
  min-height: 300px;
  border-radius: 4px 4px 0 0;
}
.widget .photo {
  position: absolute;
  top: 85px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: 0 0 0 -55px;
  border: 5px solid #fff;
  border-radius: 50%;
}
.widget h1,
.widget h2,
.widget h3 {
  display: block;
  margin: 10px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #383838;
}
.widget h1 {
  margin: 60px 0 20px;
  font-size: 26px;
  color: #000;
}
.widget h3 {
  font-size: 12px;
}
.widget ul {
  position: absolute;
  top: 1px;
  padding: 0;
  background: #000000;
}
.widget ul.position-left {
  left: -55px;
}
.widget ul.position-right {
  right: -55px;
}
.widget ul li {
  list-style: none;
}
.widget ul li a {
  display: block;
  padding: 5px 6px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: 1px solid #d5782c;
  border-radius: 50%;
  transition: 0.3s;
  border-radius: 50%;
  transition: box-shadow 0.3s ease, transform 0.3s ease, opacity 2s ease;
  transform: scale(1);
}
.widget ul li:hover > a {
  background-color: #d5782c;
  box-shadow: 0 0 35px #d5782c;
  box-shadow: 0 0 25px #d5782c, 0 0 15px #d5782c inset;
  transform: scale(1.2) translateZ(20px);
}
.widget ul li:first-child > a {
  border: 1px solid #d5782c;
  border-radius: 50%;
}
.widget ul li:last-child > a {
  border: 1px solid #d5782c;
  border-radius: 50%;
}
